a img {
  color: #e6d8d8;
  background-color: #997999;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #f0e7e7;
  border-right-color: #f0e7e7;
  border-bottom-color: #f0e7e7;
  border-left-color: #f0e7e7;
  background-position: 0% 0%;
}

.col-md-12 #site-slogan {
  font-family: Verdana,Geneva,Sans-Serif;
  font-weight: normal;
  font-size: 20px;
  color: #a699a6;
  border-top-style: double;
  border-right-style: double;
  border-bottom-style: double;
  border-left-style: double;
  border-top-color: #c7b3c7;
  border-right-color: #c7b3c7;
  border-bottom-color: #c7b3c7;
  border-left-color: #c7b3c7;
}

