a img {
  margin-top: 39px;
}

.col-md-12 #site-slogan {
  font-size: 20px;
  font-family: 'Courier New',Courier,Monospace;
  font-weight: normal;
  color: #c7c1c7;
}

p img {
  text-align: center;
  margin-left: 310px;
  margin-right: 0px;
  margin-top: 47px;
  padding-top: 0px;
}

#page #main-content {
  padding-top: 18px;
}

