#name-and-slogan #site-slogan {
  font-family: 'Palatino Linotype',Palatino,Serif;
  font-style: normal;
  background-color: #9ad678;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  font-weight: bold;
  text-align: center;
}

